@mixin button-outline-default() {
  &.btn-outline {
    background-image: none;
    filter: none;
    box-shadow: unset;

    @apply border-solid border border-default-lighter bg-transparent text-default-darker;

    &:hover {
      @apply bg-default-lighter text-default-darker text-default-darker;
    }

    &:focus {
      @apply outline-none;
      box-shadow: 0 0 0 0.125rem theme("colors.default-light");
    }
  }
}

@mixin button-outline-with-color($name: 'default', $color: $name) {
  &.btn-#{$name}.btn-outline {
    box-shadow: 0 0 0 0.0625rem inset;

    @apply border-0 bg-transparent text-#{$color};

    &:hover {
      @apply border-0 bg-#{$color} text-white;
    }

    &:focus {
      @apply outline-none;
      box-shadow: 0 0 0 0.125rem theme("colors.#{$color}-light");
    }
  }
}
