@import "../../../theme/utils/mixins";

@mixin make-input-color($color: 'default') {
  &.input-#{$color} {
    input {
      @apply border-#{$color};

      &:focus {
        box-shadow: 0 0 0 0.2rem theme('colors.#{$color}-lightest');
      }
    }

    .bi.bi-icon {
      color: theme('colors.#{$color}');
    }
  }
}

.bi.bi-input {
  box-sizing: content-box;

  @apply inline-flex align-top relative flex-col font-normal font-sans text-base tracking-normal text-default-darker w-48;

  + .bi.bi-input {
    @apply ml-2;
  }

  + .bi.bi-select {
    @apply ml-2;
  }

  input {
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: start;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow ease-in-out 0.25s;
    max-width: 100%;

    @apply bg-white font-normal font-sans text-base tracking-normal text-default-darker border border-default-light;
    @apply border-solid rounded px-3 py-2 m-0 outline-none appearance-none box-border;

    // placeholder
    @include create-placeholder();

    // focus
    &:focus {
      @apply outline-none;
      box-shadow: 0 0 0 0.2rem theme('colors.primary-lightest');
    }
  }

  // ----------------------------
  // FLUID
  // ----------------------------
  &.fluid {
    @apply w-full;

    input {
      @apply w-full;
    }
  }

  // ----------------------------
  // DISABLED
  // ----------------------------
  &.disabled input[disabled] {
    @apply bg-default-lighter cursor-not-allowed;
  }

  // ----------------------------
  // COLORS
  // ----------------------------
  @include make-input-color('primary');
  @include make-input-color('secondary');
  @include make-input-color('info');
  @include make-input-color('success');
  @include make-input-color('warning');
  @include make-input-color('danger');

  // ----------------------------
  // ICONS
  // ----------------------------
  &.has-icon {
    input {
      @apply pr-8;
    }

    .bi.bi-icon {
      @apply absolute fill-current right-0 top-0 bottom-0 px-3 pointer-events-none h-full;

      max-height: 2.25rem;
    }

    &.icon-left {
      input {
        @apply pl-8 pr-3;
      }

      .bi.bi-icon {
        @apply left-0 right-auto;
      }
    }
  }

  // ----------------------------
  // SIZE
  // ----------------------------
  &.input-sm {
    /* stylelint-disable-next-line no-descending-specificity */
    input {
      @apply pl-2 py-1 text-sm;
    }

    &.has-icon .bi.bi-icon {
      @apply px-2 py-0;

      height: 1.625rem; // same height of the input when small
    }
  }

  &.input-lg {
    /* stylelint-disable-next-line no-descending-specificity */
    input {
      @apply pl-4 py-2 leading-normal text-xl;
    }

    &.has-icon .bi.bi-icon {
      @apply px-2 py-0;

      height: 3.25rem; // same height of the input when large
    }
  }
}

